<header class="header">
	<nav>
		<a href="/" <% if (page == "NEWS") { %>class="current"<% } %>>
			news
		</a>
		<a href="/about" <% if (page == "ABOUT") { %>class="current"<% } %>>
			about us
		</a>
		<a href="/customers" <% if (page == "CUSTOMERS") { %>class="current"<% } %>>
			for customers
		</a>
		<a href="/contacts" <% if (page == "CONTACTS") { %>class="current"<% } %>>
			contacts
		</a>
	</nav>

	<a class="logo" href="/">

	</a>
</header>