<!DOCTYPE html>
<html>
<!-- HEAD begin-->
<% include partials/head.ejs %>
<!-- HEAD end-->
<body>
<div class="wrap">
	<!-- HEADER begin-->
	<%- include partials/header.ejs %>
	<!-- HEADER end-->

	<div class="content">
		<aside class="sidebar">
			<%- include partials/login.ejs %>
		</aside>

		<section class="page">
			<%- body %>
		</section>
	</div>
</div>

<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
