@import "../helpers/variables";

.customers {

  &__area {
    box-sizing: border-box;
    height: 120px;
    max-width: 100%;
    padding: 15px;
    width: 100%;
  }

  &__list {
    padding: 20px 0;
  }

  &__feedback {
    border-bottom: 1px solid @green;
    margin-bottom: 10px;
    padding: 10px 0;
  }
}