@import "../helpers/variables";
@import "../helpers/mixins";

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: @gray;
  color: @black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

/* COMMON ELEMENTS */
a {
  text-decoration: none;

  &.link {
    color: @green;
  }
}

/* PAGE WRAP */
.wrap {
  background: @white;
  box-shadow: 0 0 30px @shadow-bg;
  min-height: 100%;
  margin: 0 auto;
  width: 960px;
}

/* HEADER */
.header {
  border-bottom: 2px solid @green;
  height: 85px;

  .logo {
    .image("logo.png");
    display: block;
    float: left;
    height: 39px;
    margin: 22px 0 0 30px;
    width: 138px;
  }

  nav {
    float: right;
    margin: 30px 0 0;

    a {
      color: @black;
      font-size: 24px;
      margin-right: 26px;
      .animate();

      &:before {
        content: "[";
        margin-right: -5px;
      }
      &:after {
        content: "]";
        margin-left: -5px;
      }
      &:before, &:after {
        color: @green;
        .animate();
      }

      &:hover, &.current {
        color: @green;

        &:before, &:after {
          color: @black;
        }
      }
    }
  }
}

/* SIDEBAR */
.sidebar {
  float: right;
  width: 30%;
}

/* PAGE CONTENT */
.content {
  padding: 30px;
}

/* PAGE */
.page {
  margin-right: 30%;
  padding-right: 30px;
}