@import "variables";

//image quick url
.image(@image-name) {
  background-image: url("@{images-root}@{image-name}");
  background-size: cover;
}
//animation
.animate(@property:all, @time:.3s, @type: ease) {
  transition: @property @time @type;
}