<section id="customers-page" class="customers block block--bordered">
	<h3 class="block__title">Please write some feedback</h3>
	<div class="block__content">
		<form action="">
			<textarea class="customers__area" placeholder="What's up?"></textarea>

			<button type="submit">Do this!</button>
		</form>
		<section class="customers__list">
			<div class="customers__feedback">Some feedback that was already written</div>
		</section>
	</div>
</section>