.block {
  background: #fbfbfb;
  margin-bottom: 30px;
  padding: 25px;
  /*GREEN BORDER ON THE LEFT SIDE*/
  /*NEWS PAGE*/
}
.block__title {
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.block__title--green {
  color: #5fb11c;
}
.block--bordered {
  border-left: 2px solid #5fb11c;
}
.block--news .block__content {
  line-height: 18px;
}
input,
textarea,
select,
button {
  outline: none;
}
input,
textarea {
  background: #ffffff;
  border: 1px solid #aaaaaa;
}
input:focus,
textarea:focus {
  border-color: #5fb11c;
}
button {
  background: #5fb11c;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 25px;
  padding: 0 10px;
}
button:hover {
  opacity: .9;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  background: #eaeaea;
  color: #3a3a3a;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}
/* COMMON ELEMENTS */
a {
  text-decoration: none;
}
a.link {
  color: #5fb11c;
}
/* PAGE WRAP */
.wrap {
  background: #ffffff;
  box-shadow: 0 0 30px #a6a6a6;
  min-height: 100%;
  margin: 0 auto;
  width: 960px;
}
/* HEADER */
.header {
  border-bottom: 2px solid #5fb11c;
  height: 85px;
}
.header .logo {
  background-image: url("/img/logo.png");
  background-size: cover;
  display: block;
  float: left;
  height: 39px;
  margin: 22px 0 0 30px;
  width: 138px;
}
.header nav {
  float: right;
  margin: 30px 0 0;
}
.header nav a {
  color: #3a3a3a;
  font-size: 24px;
  margin-right: 26px;
  transition: all 0.3s ease;
}
.header nav a:before {
  content: "[";
  margin-right: -5px;
}
.header nav a:after {
  content: "]";
  margin-left: -5px;
}
.header nav a:before,
.header nav a:after {
  color: #5fb11c;
  transition: all 0.3s ease;
}
.header nav a:hover,
.header nav a.current {
  color: #5fb11c;
}
.header nav a:hover:before,
.header nav a.current:before,
.header nav a:hover:after,
.header nav a.current:after {
  color: #3a3a3a;
}
/* SIDEBAR */
.sidebar {
  float: right;
  width: 30%;
}
/* PAGE CONTENT */
.content {
  padding: 30px;
}
/* PAGE */
.page {
  margin-right: 30%;
  padding-right: 30px;
}
.customers__area {
  box-sizing: border-box;
  height: 120px;
  max-width: 100%;
  padding: 15px;
  width: 100%;
}
.customers__list {
  padding: 20px 0;
}
.customers__feedback {
  border-bottom: 1px solid #5fb11c;
  margin-bottom: 10px;
  padding: 10px 0;
}
