@import "../helpers/variables";

.block {
  background: @gray-light;
  margin-bottom: 30px;
  padding: 25px;

  &__title {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;

    &--green {
      color: @green;
    }
  }

  /*GREEN BORDER ON THE LEFT SIDE*/
  &--bordered {
	  border-left: 2px solid @green;
  }

  &__content {

  }

  /*NEWS PAGE*/
  &--news {
    .block__content {
      line-height: 18px;
    }
  }
}