@import "../helpers/variables";

input, textarea, select, button {
  outline: none;
}

input, textarea {
  background: @white;
  border: 1px solid @gray-form;

  &:focus {
    border-color: @green;
  }
}

button {
  background: @green;
  border: none;
  color: @white;
  cursor: pointer;
  height: 25px;
  padding: 0 10px;

  &:hover {
    opacity: .9;
  }
}